<%= form_for @adv , url:{action: "update"} do |f| %>

    <h6>NUMBERS OF ROOMS</h6>
    <%= f.text_field :numbersofrooms %>
     <br><br>
    <h6>Image</h6>
    <%= f.text_field :img %> 
    <br><br>
    <h6>NUMBERS OF BATHROOM</h6> 
    <%= f.text_field :numberofbath %>
    <br><br>
    <h6>Area</h6>
    <%= f.text_field :area %>
    <br><br>
    <h6> LAND LOT </h6>
    <%= f.text_field :space  %>
    <br><br>
    <h6>ASKING PRICE  </h6>
    <%= f.text_field :price  %>
    <br><br>


    <%=f.submit " Save " ,:class=> "btn btn-light"%>
    

    <% end %>

    