
<% @advs.each do |adv| %>
    <p>
    <h4> Number of Rooms </h4>
     <%= adv.numbersofrooms  %> 
     <br>
     <img style="width:200px;height:200px"src="<%= adv.img %>">
     <br>
     <h4> Number of Bath: </h4>
    <%= adv.numberofbath %>
    <h4> Area  </h4>
     <%= adv.area %> 
     <br>
     <h4> Space  </h4>
     <%= adv.space %> 
     <br>
     <h4> Price  </h4>
     <%= adv.price %>
    <br>
    <br>
    </p>
    <button> <%=link_to 'New Apprtment',new_adv_path%></button>

    <% end %>