<%= form_for @adv , url:{action: "create"} do |f| %>


    <%= f.label :numbersofrooms, 'Numbers of Rooms : ' %><br>
    <%= f.text_field :numberofbath %><br><br>

    <%= f.label :img, 'Image : ' %><br>
    <%= f.text_field :img %><br><br>

    <div class="wrapper">
    <div class="box">
      <div class="js--image-preview"></div>
      <div class="upload-options">
        <label>
          <input type="file" class="image-upload" accept="image/*" />
        </label>
      </div>
    </div>

    <%= f.label :numberofbath, 'Number of Bath : ' %><br>
    <%= f.text_field :numberofbath %><br><br>

    <%= f.label :area, 'Area : ' %><br>
    <%= f.text_field :area %><br><br>

    <%= f.label :space, 'Space :' %><br>
    <%= f.text_field :space  %><br><br>

    <%= f.label :price, 'Price :' %><br>
    <%= f.text_field :price  %><br><br>

    <%= f.submit " Save " %>

    <%end%>

  
   